/* CSS declarations go here */
#soundBox {
    width : 200px;
    height : 50px;
    text-align : center;
    vertical-align : middle;
    padding-box : 10px;
    border : 2px solid black;
    margin : 50px;
}